body{
  font-family: 'roboto', 'sans-serif';
  margin: 0;
  min-height: 100vh;
}

button{
  font-family: 'roboto', 'sans-serif';
  border-radius: 5px;
  border: none;
  padding: 8px 30px;
  background-color: #3882F6;
  font-weight: bold;
  color: #F9FAF8;
}

/* Header */

.header{
  display: flex;
  padding: 15px 100px;
  justify-content: space-between;
  align-items: center;
  background-color: #1F2937;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sub ,a{
  text-decoration: none;
  font-size: 18px;
  color: #E5E7EB;
}

.logo{
  font-size: 24px;
  color: #F9FAF8;
  font-weight: bold;
}

.right-links{
  display: flex;
  gap:30px;
}

/* Hero */

.hero-container{
  display: flex;
  padding: 80px 100px;
  justify-content: space-between;
  align-items: center;
  background-color: #1F2937;
}

.left-hero{
  width: 500px;
}

.main{
  font-size: 48px;
  font-weight: bolder;
  color: #F9FAF8;
}

.sub{
  margin-bottom: 10px;
  font-weight: lighter;
}

.right-hero{
  width: 50%;
}

.image {
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 215px;
}

.secondary{
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}
